.signIn__form {
  min-width: 300px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
  padding-top: 60px;
}

.loginScreen__inputContainer {
  position: relative;
}

.loginScreen__input {
  width: 100%;
}

.loginScreen__resetLinks {
  margin-top: 20px;
}
.loginScreen__resetLinks > a {
  display: block;
  margin-bottom: 15px;
  text-decoration: underline;
  color: #00653e;
  font-weight: 600;
  font-size: 15px;
}

.loginScreen__resetLinks > a:hover {
  text-decoration: none;
}

.loginScreen__error {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: smaller;
}

.loginScreen__error > .MuiSvgIcon-root {
  color: #e75b52;
}

.loginScreen__reportIcon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(100%);
}

.loginScreen__visibilityIcon {
  cursor: pointer;
  color: grey;
  position: absolute;
  right: 10%;
  top: 0;
  transform: translateY(80%);
}
